[Unit]
Description=Fabric Peer Org1 Service
After=network.target

[Service]
Type=simple
Environment="FABRIC_CFG_PATH=$PWD/config/org1"
ExecStart=/bin/bash -c "$PWD/bin_fabric/peer node start"
WorkingDirectory=$PWD
Restart=on-failure

[Install]
WantedBy=multi-user.target