[Unit]
Description=Fabric CA OrdererOrg Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c "$PWD/bin/fabric-ca-server start --tls.enabled --csr.hosts orderer.atgdigitals.com"
WorkingDirectory=$PWD/organizations/fabric-ca/ordererOrg
Restart=on-failure

[Install]
WantedBy=multi-user.target