[Unit]
Description=Fabric CA Org1 Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c "$PWD/bin/fabric-ca-server start --tls.enabled --csr.hosts peer0.org1.atgdigitals.com,peer0.org2.atgdigitals.com"
WorkingDirectory=$PWD/organizations/fabric-ca/org1
Restart=on-failure

[Install]
WantedBy=multi-user.target