[Unit]
Description=Fabric Ordering Service
After=network.target

[Service]
Type=simple
Environment="FABRIC_CFG_PATH=$PWD/config/ordererOrg"
ExecStart=/bin/bash -c "$PWD/bin_fabric/orderer start"
WorkingDirectory=$PWD
Restart=on-failure

[Install]
WantedBy=multi-user.target